@media screen and (max-width: 780px) { 
  
}




/* SM */
@media screen and (max-width: 768px) {

  :root {
    --grid-cols : 6;
    --grid-col-gap : 1rem;
  }
  .site-footer {
    min-height: 0;
  }

  .footer-content {
    min-height: 95svh;

    .footer-nav {
      grid-column: span 2;
    }
    .footer-acknowledgement {
      grid-column: span 5;
      padding-top: 20vh;
      padding-bottom: 20vh;
    }
    .footer-logo {
      margin-top: auto;
      padding-bottom : 0;
    }
  }

  .site-footer .contact-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }



  :root {
    --xy-gutter : 1rem;
    --gutter : 1rem;
    --block-space: 2.5rem;
  }
  .archive-page-articles {
     --card-cols: 12;
  }

  /* FOOTER */
  .footer-content {
    position: relative;
  }
  .menu-footer-menu-container {
    position: absolute;
    top: 4rem;
    left: 0;
  }
  #footer-menu {
    flex-direction: column;
  }
  footer .color-boiz {
    margin-bottom: 2rem;
  }
  .site-footer .contact-details p {
    font-size: var(--wp--preset--font-size--medium);
    order: 2;
    margin-bottom: 2rem;
  }
  .site-footer #footer-menu a {
    font-size: var(--wp--preset--font-size--large);
  }

  .menu-header-menu-container {
    max-width: 100%;
  }
  .menu-open .site-branding {  color: var(--wp--preset--color--white); }

  /* Cards */
  .bb-post-card:nth-child(4n+2),
  .bb-post-card:nth-child(4n+3),
  .bb-post-card:nth-child(4n+1), 
  .bb-post-card:nth-child(4n+4) { 
      img, video {
          aspect-ratio: 9 / 10;
      }
  }

}

/* XS */
@media screen and (max-width: 480px) {
  :root {
    --block-space: 3rem;
  }
  .wp-block-image figcaption {
    padding-left: var(--gutter);
  }

  .site-branding svg {
    height: 1.125rem;
  }
}