.wp-block-beech-images {
    padding-top: var(--block-space);
    padding-bottom: var(--block-space);
    padding-inline: var(--gutter);
}

.wp-block-beech-images.is-style-feature {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: var(--grid-col-gap);

    .images_block-inner-blocks {
        grid-column: 2 / 12;
    }
}
.wp-block-beech-images.is-style-feature .wp-block-beech-images,
.block-editor-block-list__block.wp-block-beech-images.is-style-feature > div { 
    display: grid;
    grid-template-columns: subgrid;
    grid-column: span 13;
}


.images_block-inner-blocks {
    display: flex;
    gap: var(--grid-col-gap);

    figure, img, video, .wp-block-beech-sick-video { width: 100% !important; aspect-ratio: 16 / 9;}

    &:has( > *:nth-child(2):not(.block-list-appender) ) {
        img { 
            aspect-ratio: 4 / 5;
        }
    }
}

.editor-styles-wrapper .block-editor-block-list__layout.is-root-container > .block-editor-block-list__block.wp-block-beech-images {
    max-width: 100%;
}

.wp-block-beech-images .wp-block-embed__wrapper > * { width: 100%; }
.wp-block-beech-images .wp-block-embed__wrapper iframe { aspect-ratio: 16 / 9; height: auto; }
