.wp-block-beech-article-text {
    padding-top: var(--block-space);
    padding-bottom: var(--block-space);
    padding-inline: var(--gutter);
}

.article-text__inner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--grid-col-gap);
}

.article-text__inner-blocks {
    grid-column: 7 / 12;
}