.wp-block-beech-image-text {
    --block-gutter : var(--gutter, 2rem);
    padding-inline: var(--block-gutter);
    padding-block: var(--block-space, 6rem);
}

.image-text__inner-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    width: 100%;
    margin-inline: auto;
}

.is-style-expanded img {
    width: calc(100% + var(--block-gutter));
    max-width: calc(100% + var(--block-gutter));
    object-fit: cover;
}

.is-style-expanded figure:nth-child(2n - 1) img {
    translate: calc(var(--block-gutter) * -1) 0;
}

/* Guttenberg editor view fixes */
.block-editor-block-list__block .is-style-expanded img {
    width: calc(100% + var(--block-gutter)) !important;
    max-width: calc(100% + var(--block-gutter)) !important;
}

.wp-block-beech-image-text .components-resizable-box__container {
    width: auto !important;
}
/* End: Guttenberg editor view fixes */


@media screen and (481px <= width <= 768px) {
    .image-text__inner-blocks:has(figure:first-child) {
        background-color: hotpink;
        grid-template-columns: 2fr 3fr;
    }
    .image-text__inner-blocks:has(figure:nth-child(2)) {
        background-color: lightblue;
        grid-template-columns: 3fr 2fr;
    }
}
@media screen and (max-width: 480px) {
    .image-text__inner-blocks {
        display: flex;
        flex-direction: column;
    }
    .is-style-expanded img {
        width: calc(100% + 2 * var(--block-gutter));
        max-width: calc(100% + 2 * var(--block-gutter));
        translate: calc(var(--block-gutter) * -1) 0;
    }
    .image-text__inner-blocks:has(figure:nth-child(2)) {
        flex-direction: column-reverse;
    }
}