

.carousel-card__inner {
    display: flex;
    gap: 1rem;

}

.carousel-card__image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.carousel-card__content {
    padding: 1.75rem;
    display: flex;
    flex-direction: column;
}
.carousel-card__content > * {
    order: 3;
}

.carousel-card__inner {
    flex-direction: column;
}

.carousel-card__inner img {
    height: 3.25rem;
    width: auto;
    max-width: 100%;
    object-fit: contain;
}
.carousel-card__content {
    font-size: var(--wp--preset--font-size--large);
    line-height: 1.2;
}
.carsouel-card__name {
    margin-top: 3.25rem;
    margin-bottom: 1.625rem;
    font-size: var(--wp--preset--font-size--x-large);
}
.carsouel-card__title {
    display: none;
}
.carsouel-card__message {
    color: var(--wp--preset--color--mid-gray);
}
.carousel-card__content {
    padding: 0;
    max-width: 80%;
}

/* Guttenberg style tighten */
.block-editor-block-list__layout .carousel-item { width: 100%; min-width: 28rem; }
.block-editor-block-list__layout .carousel-card__inner {flex-direction: column;}