.wp-block-beech-header {
    display: flex;
    position: relative;
    padding-top: var(--block-space); 
    padding-bottom: var(--block-space);

    h1 {
        font-size: var(--wp--preset--font-size--2-xl);
        letter-spacing: -0.03125rem;
        line-height: 1.08;
        margin-bottom: 0;
    }

    &.has-jet-black-background-color {
        margin-top: -1px;
    }
}
.wp-block-beech-header header {
    width: 100%;
}
.wp-block-beech-header .header__inner {
    width: 100%;
    padding-inline: var(--gutter);

    display: grid;
    grid-template-columns: repeat(var(--grid-cols,12), 1fr);
    gap: var(--grid-col-gap);
}
.header__inner-blocks { 
    grid-column: span 11;
}

.wp-block-beech-header.project-type,
.wp-block-beech-header .project-type {
    padding-top: 7.5rem;

    h1 {
        font-family: var(--wp--preset--font-family--body);

        mark {
            display: block;
            font-family: var(--wp--preset--font-family--headings);
        }
    }

    .header__inner { row-gap: 0; }

    .header__inner-blocks {
        grid-column: span 8;
    }
}

.project-meta {
    display: grid;
    grid-template-columns: subgrid;

    padding-top: 7.5rem;
    padding-bottom: 1rem;
    grid-column: span 12;

    .project-meta-item { 
        grid-column: span 2;

        &:last-child {
            grid-column: span 8;
        }

        &:first-child {
            display: flex;
            flex-wrap: nowrap;
        }

        span:first-child {
            opacity: 0.7;
            display: inline-block;
            margin-right: 1rem;
        }
    }
}
.project-feature-image {
    grid-column: span 12;

    img { aspect-ratio: 16 / 9; width: 100%; height: auto; object-fit: cover;}
}



.is-style-contact .header__inner {
    padding-top: 6rem;
}
.is-style-contact .header__inner-blocks {
    max-width: 72rem;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
}
.is-style-contact .header__inner-blocks > * { width: 100%; }
.is-style-contact .header__inner-blocks > .wp-block-heading:first-of-type,
.is-style-contact .header__inner-blocks > .wp-block-beech-contact:first-of-type {
    margin-right: 2rem;
    width: calc(50% - 2rem);
}

.wp-block-beech-header .gform_wrapper {
    margin-top: 6rem;
}

.single-project .wp-block-beech-images:last-child {
    padding-bottom: calc(var(--block-space) * 2);
}

@media screen and (max-width: 768px) {
    .project-meta {
        padding-top: 6rem;
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5rem 1.5rem;

        .project-meta-item:last-child { width: 100%;
        }
    }

    .wp-block-beech-header.project-type,
    .wp-block-beech-header .project-type {
        padding-top: 6rem;
    }
}


@media screen and (max-width: 668px) {
    .is-style-contact .header__inner-blocks { flex-direction: column; }
    .is-style-contact .contact-details__inner { padding-left: 0; margin-top: 2rem; width: 100%;}
    .is-style-contact .header__inner-blocks > .wp-block-heading:first-of-type { width: 100%; }
    .is-style-contact .header__inner-blocks > .wp-block-beech-contact:first-of-type { width: 100%;  margin-right: 0;}
    .wp-block-beech-header.is-style-contact .gform_wrapper { margin-top: 4rem; }
    .is-style-contact .gform_wrapper.gravity-theme .gform_fields { grid-column-gap: var(--gutter); }
    .is-style-contact .header-form_wrapper.gform_wrapper.gravity-theme .gform_fields .gfield { padding: 1rem var(--gutter); }
    .is-style-contact .header-form_wrapper.gform_wrapper.gravity-theme .gform_fields .gfield:not(.full-right) { grid-column: span 6;}
    .is-style-contact .header-form_wrapper.gform_wrapper.gravity-theme .gform_fields .gfield.gfield--width-full.full-right { grid-row: auto; grid-column: span 12;}
    .is-style-contact .header-form_wrapper.gform_wrapper.gravity-theme .gform_fields .gfield:nth-child(2) {
        border-top: solid 1px currentColor;
        border-bottom: solid 1px currentColor;
    }
    .is-style-contact .header-form_wrapper.gform_wrapper.gravity-theme .gform_fields .gfield:nth-child(3) {
        border-top: solid 0px currentColor;
        border-bottom: solid 0px currentColor;
    }


    .is-style-contact .header-form_wrapper.gform_wrapper.gravity-theme .gform_fields .gfield:not(.full-right),
    .is-style-contact .header-form_wrapper.gform_wrapper.gravity-theme .gform_fields .gfield.gfield--width-full.full-right {
        padding-inline: 0;
    }
}

/* XS */
@media screen and (max-width: 480px) {
     .is-style-contact .header-form_wrapper.gform_wrapper.gravity-theme .gform_footer {
        width:100%;
    }
    .is-style-contact .gform_wrapper.gravity-theme .gform_fields { display: block; }
    .is-style-contact .header-form_wrapper.gform_wrapper.gravity-theme .gform_fields .gfield:nth-child(2) { border-top: solid 0px transparent; }


    .project-meta-item:last-child {
        display: flex;
    }
}

@keyframes marqueeHeader {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-50%, 0, 0); }
}