.wp-block-beech-text-area {
    display: grid;
    grid-template-columns: 1fr;
}

.text-area__inner-blocks p {
    margin-top: 0;
}
.block-editor-block-list__block.is-selected.wp-block-beech-text-area {
    outline: yellow 3px solid;
}
.is-style-spacer {
    opacity: 1;
}

.is-style-columns .text-area__inner-blocks {
    columns: 2;
    gap: var(--grid-col-gap);
}

.align-content-center .wp-block-beech-text-area { align-items: center; }
.align-content-top .wp-block-beech-text-area { align-items: start; }
.align-content-bottom .wp-block-beech-text-area { align-items: end; }