.wp-block-beech-group-section {
    padding-block: var(--block-space);
}

.group-section__inner > .wp-block-beech-text-area {
    max-width: 52rem;
    padding-inline: var(--gutter);
}
.group-section__inner > .wp-block-beech-text-area {
    padding-bottom: calc(var(--block-space) / 2);
}