.cta-wrapper {
    padding-inline: var(--gutter, 2rem);
    padding-block: var(--block-space, 6rem) var(--block-space-wide, 16rem);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: var(--grid-col-gap);
}
.cta-line {
    grid-column: span 13;
    border-top: solid 1px var(--wp--preset--color--mid-gray);
    padding-top: 3rem;
}
.cta-inner {
    grid-column: span 9;
}
.cta-inner > h2 {

}
.cta-inner.btn-below > h2 {
    display: inline-block;
    padding-bottom: 2rem;
}

.cta-blocks p {
    font-size: var(--wp--preset--font-size--3-xl);
    line-height: 1.2;
    letter-spacing: -0.025rem;
}

.is-style-borderless .cta-line {
    border-width: 0px;
    display: none;
}

@keyframes translateRight {
    from { translate: 0rem 0rem; }
    to { translate: 1rem 0rem; }
}

@media screen and (max-width: 768px) { 
    .cta-inner { grid-column: span 12; }
}