.wp-block-beech-articles {
    padding-inline: var(--gutter, 2rem);
    padding-block: var(--block-space, 6rem);
}

.articles-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--grid-col-gap);
}

.articles__inner-blocks > *:last-child,
.articles__inner-blocks *:has(~ .block-list-appender) {
    margin-bottom: 0rem;
}



.bb-post-card img {
    aspect-ratio: 6 / 4;
    height: auto;
    object-fit: cover;
}

.wp-block-beech-articles .bb-post-card {
    grid-column: span 4;
}
.bb-post-card .card-categories a, 
.bb-post-card .card-title a {
    color: inherit;
    text-decoration: none;
}

.articles-track {
    padding-top: var(--block-space, 6rem);
}

.bb-post-card:nth-child(4n+1),
.bb-post-card:nth-child(4n+4) { 
    grid-column: span 7; 

    img, video {
        aspect-ratio: 1.58;
    }
}
.bb-post-card:nth-child(4n+2),
.bb-post-card:nth-child(4n+3) { 
    grid-column: span 5;  /* Offset by 1 column */ 

    img, video {
        aspect-ratio: 4 / 5;
    }
}


.bb-post-card img { aspect-ratio: auto; width: 100%; }
.bb-post-card .card-title {
    font-size: var(--wp--preset--font-size--large);
    margin-top: 1.25rem;
    margin-bottom: 0.75rem;
}
.bb-post-card .card-date {
    display: none;
}
.bb-post-card .card-categories {
    color: var(--wp--preset--color--mid-gray);
}
.card-excerpt { display: none; }

.article-footer {
    text-align: center;
    padding-top: 5rem;
}
.card-meta {
    text-transform: none;
    padding-top: 0;
    margin-top: 0;
}
.bb-post-card {
    border-bottom: none;
}

.bb-post-card .card-title,
.bb-post-card .card-excerpt {
    padding-right: 2rem;
}

.posts-pagination.within-grid {
    grid-column: span 12;
    padding-top: var(--block-space-narrow);
}
.posts-pagination.within-grid:empty {
    display: none;
}

.bb-btn.read-more {    
    text-decoration: none;
    color: inherit;
    padding: 1.5rem 2.65rem 1.55rem;
    border: solid 1px currentColor;
    border-radius: 3rem;
    display: inline-block;
    transition: all 150ms ease;
    position: relative;
    line-height: 1;
}
.bb-btn.read-more:hover {
    color: var(--body-bg);
    background-color: var(--body-text);
}
.bb-btn .count {
    vertical-align: super;
    margin-left: 0.1rem;
    color: var(--wp--preset--color--mid-gray);
    font-size: 0.65em;
    position: absolute;
    margin-top: -0.15rem;
}

/** Videos */
.card-video-wrapper video {
    /* aspect-ratio: 16 / 9; */
    object-fit: cover;
    max-height: 80vh;
    background: var(--body-text);
    display: block;
}
.card-video-wrapper video[data-loaded="true"] + img.video-poster {
    animation: 1s fadeOut linear normal 1 forwards;
    animation-delay: 500ms;
}
.card-video-wrapper {
    position: relative;
}
.card-video-wrapper img.video-poster {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@media screen and (max-width: 768px) {
    .wp-block-beech-articles {
        padding-inline:0;
    }
    .wp-block-beech-articles > * {
        padding-inline: var(--gutter);
    }
    .is-style-related .bb-post-card {
        grid-column: span 12;
    }
    .articles-wrapper { row-gap: 3rem; }
    .articles-wrapper .bb-post-card { grid-column: span 12; }

    .wp-block-beech-articles .bb-post-card {
        grid-column: span 6;
    }

    .articles__inner-blocks>*:last-child {
        margin-bottom: 4rem;
    }

    .posts-pagination.within-grid { 
        padding-top: 2rem;
    }
    .article-footer {
        padding-top: 3rem;
    }
}

@media screen and (max-width: 480px) {
    .wp-block-beech-articles .articles-wrapper {
        width: calc( (var(--article-count) ) * 80vw );
        gap: var(--gutter);
    }

    .bb-post-card .card-categories {
        width: 80%;
    }
}

