
.carousel {
    padding-top: var(--block-space, 6rem);
    padding-bottom: var(--block-space, 6rem);
}

.carousel__target .flickity-viewport { 
    overflow: visible; 
}

.carousel-item {
    width: calc( (100% ) / 12 * 4);
    margin-right: 1rem;
}
@media screen and (max-width: 768px) { 
    .carousel-item { width: calc( (100% ) / 12 * 6); }
}
@media screen and (max-width: 480px) {
    .carousel-item { width: calc( (100% ) / 12 * 11); }
}

/* Dark Mode */
body.dark-mode .carousel-card__inner img {
    filter: invert(1);
}

@media (prefers-color-scheme: dark) {
    .is-style-logos .carousel-card__inner img {
        filter: invert(1);
    }
}


/* Guttenberg Fix */
.block-editor-block-list__block.acf-block-preview.wp-block-beech-carousel .carousel {
    overflow: scroll;
}
.block-editor-block-list__block.acf-block-preview.wp-block-beech-carousel .carousel__target {
    width: 300vw;
    display: flex;
    flex-wrap: nowrap;
}
.block-editor-block-list__block.acf-block-preview.wp-block-beech-carousel .wp-block-beech-carousel-card {
    width: auto;
    max-width: 28rem;
}
.block-editor-block-list__block .wp-block-beech-carousel .block-list-appender.block-list-appender {
    position: static;
}

/*
.cursor-follower {
    position: fixed;
    padding: 3rem 1rem;
    background-color: var(--wp--preset--color--rorange);
    color: var(--wp--preset--color--white);
    z-index: 10;
    translate: -50% -50%;
    pointer-events: none;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    aspect-ratio: 1 / 1;
    scale: 1;
    transition: scale 150ms ease, background-color 150ms ease;

}
.cursor-follower.fade { scale: 0; background-color: var(--wp--preset--color--blue); }
*/