.carousel-section__inner {
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    padding-top:var(--block-space, 6rem);
    overflow: hidden;
}

.carousel-section__inner > *:not(.wp-block-beech-carousel) {
    max-width: calc( (100% - var(--gutter) *2) / 12 * 9 ); 
}

.block-editor-block-list__layout .carousel__target {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

@media screen and (max-width: 480px ) {
    .carousel-section__inner > *:not(.wp-block-beech-carousel) {
        max-width:100%; 
    }
}
